<app-search></app-search>
<!-- 
<style>
  .feature-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
  }

  .feature-heading {
    font-size: 36px;
    font-weight: bold;
    margin-top: 0;
  }

  .feature-text {
    font-size: 24px;
    line-height: 1.5;
  }

  .jumbotron {
    padding: 60px 0;
  }

  .jumbotron h2 {
    font-size: 48px;
    font-weight: bold;
    margin-top: 0;
  }

  .jumbotron .lead {
    font-size: 24px;
    line-height: 1.5;
  }
</style>


<div class="container">
  <div class="row">
    <div class="col-md-4">
      <img src="https://www.science.org/do/10.1126/science.acx9205/full/_20210927_on_could-starlink-be-the-new-gps-1675060461157.jpg" alt="Feature 1" class="feature-image">
      <h2 class="feature-heading">Wherever, whenever</h2>
      <p class="feature-text">Choose from millions of spaces across the UK<br>Find your best option for every car journey</p>
    </div>
    <div class="col-md-4">
      <img src="https://www.science.org/do/10.1126/science.acx9205/full/_20210927_on_could-starlink-be-the-new-gps-1675060461157.jpg" alt="Feature 2" class="feature-image">
      <h2 class="feature-heading">Peace of mind</h2>
      <p class="feature-text">View information on availability, price and restrictions<br>Reserve in advance at over 45,000+ locations</p>
    </div>
    <div class="col-md-4">
      <img src="https://www.science.org/do/10.1126/science.acx9205/full/_20210927_on_could-starlink-be-the-new-gps-1675060461157.jpg" alt="Feature 3" class="feature-image">
      <h2 class="feature-heading">Seamless experience</h2>
      <p class="feature-text">Pay for JustPark spaces via the app or website<br>Follow easy directions and access instructions.</p>
    </div>
  </div>
</div>

<div class="jumbotron bg-light">
  <div class="container text-center">
    <h2>Ready to get started?</h2>
    <p class="lead">Sign up today and experience the difference!</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Sign Up</a>
  </div>
</div> -->