<p>owner works!</p>
<button (click)="gotoList()" class="btn btn-info">Back</button>
<div class="container" [hidden]="submitted" style="width: 400px">
  <form (ngSubmit)="onSubmit()">
    <h3>Create Car Owner</h3>
    <div class="form-group">
      <label for="name">Name</label>
      <input
        type="text"
        class="form-control"
        id="name"
        required
        [(ngModel)]="owner.name"
        name="name"
      />
    </div>

    <div class="form-group">
      <label for="email">email</label>
      <input
        type="text"
        class="form-control"
        id="email"
        required
        [(ngModel)]="owner.email"
        name="email"
      />
    </div>
        <div class="form-group">
      <label for="stories">Phone number</label>
      <input
        type="number"
        class="form-control"
        id="phoneNumber"
        required
        [(ngModel)]="owner.phoneNumber"
        name="number"
      />
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>