div {
  padding-top: 27px;
  justify-content: flex-end;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.div-2 {
  align-items: center;
  background-color: #fff;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  padding: 0 60px;
}

@media (max-width: 991px) {
  .div-2 {
    max-width: 100%;
    padding: 0 20px;
  }
}

.div-3 {
  justify-content: center;
  display: flex;
  padding-left: 10px;
  gap: 20px;
}

@media (max-width: 991px) {
  .div-3 {
    max-width: 100%;
    flex-wrap: wrap;
  }
}

.div-4 {
  color: #000;
  flex-grow: 1;
  white-space: nowrap;
  margin: auto 0;
  font: 800 28px/90% Open Sans, -apple-system, Roboto, Helvetica,
    sans-serif;
}

@media (max-width: 991px) {
  .div-4 {
    white-space: initial;
  }
}

.div-5 {
  justify-content: space-between;
  display: flex;
  gap: 20px;
  padding: 12px 0 12px 80px;
}

@media (max-width: 991px) {
  .div-5 {
    max-width: 100%;
    flex-wrap: wrap;
    padding-left: 20px;
  }
}

.div-6 {
  justify-content: space-between;
  flex-wrap: wrap;
  display: flex;
  padding-right: 10px;
  gap: 16px;
}

@media (max-width: 991px) {
  .div-6 {
    max-width: 100%;
  }
}

.div-7 {
  color: #fff;
  justify-content: center;
  border-radius: 5px;
  background-color: #07a085;
  flex-grow: 1;
  padding: 5px 30px;
  font: 700 14px/25px Open Sans, -apple-system, Roboto, Helvetica,
    sans-serif;
}

@media (max-width: 991px) {
  .div-7 {
    padding: 0 20px;
  }
}

.div-8 {
  justify-content: space-between;
  display: flex;
  gap: 8px;
  font-size: 14px;
  color: #000;
  white-space: nowrap;
  padding: 5px 10px;
}

@media (max-width: 991px) {
  .div-8 {
    white-space: initial;
  }
}

.div-9 {
  font-family: Open Sans, sans-serif;
  font-weight: 600;
  line-height: 25px;
  flex-grow: 1;
}

.div-10 {
  font-family: Font Awesome 5 Free, -apple-system, Roboto, Helvetica,
    sans-serif;
  font-weight: 900;
  line-height: 25px;
}

.div-11 {
  justify-content: space-between;
  display: flex;
  gap: 8px;
  font-size: 14px;
  color: #000;
  white-space: nowrap;
  padding: 5px 10px;
}

@media (max-width: 991px) {
  .div-11 {
    white-space: initial;
  }
}

.div-12 {
  font-family: Open Sans, sans-serif;
  font-weight: 600;
  line-height: 25px;
}

.div-13 {
  font-family: Font Awesome 5 Free, -apple-system, Roboto, Helvetica,
    sans-serif;
  font-weight: 900;
  line-height: 25px;
}

.div-14 {
  color: #000;
  margin: auto 0;
  font: 600 14px/25px Open Sans, -apple-system, Roboto, Helvetica,
    sans-serif;
}

.div-15 {
  justify-content: space-between;
  display: flex;
  gap: 8px;
  font-size: 14px;
  color: #000;
  white-space: nowrap;
  padding: 5px 10px;
}

@media (max-width: 991px) {
  .div-15 {
    white-space: initial;
  }
}

.div-16 {
  font-family: Open Sans, sans-serif;
  font-weight: 600;
  line-height: 25px;
}

.div-17 {
  font-family: Font Awesome 5 Free, -apple-system, Roboto, Helvetica,
    sans-serif;
  font-weight: 900;
  line-height: 25px;
}

.div-18 {
  color: #000;
  flex-grow: 1;
  margin: auto 0;
  font: 600 14px/25px Open Sans, -apple-system, Roboto, Helvetica,
    sans-serif;
}

.div-19 {
  color: #fff;
  white-space: nowrap;
  justify-content: center;
  border-radius: 5px;
  background-color: #111;
  padding: 5px 15px;
  font: 600 14px/25px Open Sans, -apple-system, Roboto, Helvetica,
    sans-serif;
}

@media (max-width: 991px) {
  .div-19 {
    white-space: initial;
  }
}

.div-20 {
  border-bottom: 10px solid #0a07a0;
  display: flex;
  margin-top: 10px;
  width: 100%;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 991px) {
  .div-20 {
    max-width: 100%;
  }
}

.div-21 {
  disply: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  display: flex;
  min-height: 744px;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 50px 60px;
}

@media (max-width: 991px) {
  .div-21 {
    max-width: 100%;
    padding: 0 20px;
  }
}

.img {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.div-22 {
  position: relative;
  width: 1227px;
  max-width: 100%;
  margin: 49px 0 46px;
}

@media (max-width: 991px) {
  .div-22 {
    margin: 40px 0;
  }
}

.div-23 {
  gap: 20px;
  display: flex;
}

@media (max-width: 991px) {
  .div-23 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}

.column {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 63%;
  margin-left: 0px;
}

@media (max-width: 991px) {
  .column {
    width: 100%;
  }
}

.div-24 {
  max-width: 1320px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-self: stretch;
  margin: auto 0;
}

@media (max-width: 991px) {
  .div-24 {
    max-width: 100%;
    margin-top: 40px;
  }
}

.div-25 {
  color: #fff;
  letter-spacing: -1.24px;
  font: 700 62px/74px Merriweather, -apple-system, Roboto, Helvetica,
    sans-serif;
}

@media (max-width: 991px) {
  .div-25 {
    max-width: 100%;
    font-size: 40px;
    line-height: 53px;
  }
}

.div-26 {
  color: #fff;
  margin-top: 20px;
  font: 400 17px/27px Fira Sans, -apple-system, Roboto, Helvetica,
    sans-serif;
}

@media (max-width: 991px) {
  .div-26 {
    max-width: 100%;
  }
}

.div-27 {
  justify-content: center;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  border-radius: 5px;
  box-shadow: 0px 0px 0px 2px #fff inset;
  background-color: #07a085;
  align-self: start;
  margin-top: 39px;
  padding: 15px 28px;
  font: 400 16px Open Sans, sans-serif;
}

@media (max-width: 991px) {
  .div-27 {
    white-space: initial;
    padding: 0 20px;
  }
}

.column-2 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 37%;
  margin-left: 20px;
}

@media (max-width: 991px) {
  .column-2 {
    width: 100%;
  }
}

.div-28 {
  border-radius: 10px;
  border: 2px solid #fff;
  background-color: rgba(0, 0, 0, 0.9);
  position: relative;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  width: 100%;
  padding: 33px 20px 18px;
}

@media (max-width: 991px) {
  .div-28 {
    margin-top: 40px;
  }
}

.div-29 {
  color: #fff;
  font: 700 28px/79% Open Sans, -apple-system, Roboto, Helvetica,
    sans-serif;
}

.div-30 {
  display: flex;
  margin-top: 16px;
  gap: 11px;
}

.div-31 {
  justify-content: center;
  border-radius: 5px;
  border: 2px solid #07a085;
  background-color: #fff;
  display: flex;
  flex-grow: 1;
  flex-basis: 0%;
  flex-direction: column;
  padding: 14px 19px;
}

.img-2 {
  aspect-ratio: 1.61;
  object-fit: contain;
  object-position: center;
  width: 29px;
  overflow: hidden;
  align-self: center;
}

.div-32 {
  color: #000;
  text-align: center;
  font: 600 8px/127% Open Sans, -apple-system, Roboto, Helvetica,
    sans-serif;
}

.div-33 {
  justify-content: center;
  border-radius: 5px;
  border: 2px solid #07a085;
  box-shadow: 0px 1.847px 11.083px 0px rgba(225, 225, 225, 0.25);
  background-color: #fff;
  display: flex;
  flex-grow: 1;
  flex-basis: 0%;
  flex-direction: column;
  padding: 14px;
}

.img-3 {
  aspect-ratio: 2.27;
  object-fit: contain;
  object-position: center;
  width: 39px;
  overflow: hidden;
  align-self: center;
}

.div-34 {
  color: #000;
  text-align: center;
  margin-top: 4px;
  font: 600 8px/127% Open Sans, -apple-system, Roboto, Helvetica,
    sans-serif;
}

.div-35 {
  justify-content: center;
  border-radius: 5px;
  border: 2px solid #07a085;
  box-shadow: 0px 1.847px 11.083px 0px rgba(225, 225, 225, 0.25);
  background-color: #fff;
  display: flex;
  flex-grow: 1;
  flex-basis: 0%;
  flex-direction: column;
  padding: 14px 16px;
}

.img-4 {
  aspect-ratio: 2.13;
  object-fit: contain;
  object-position: center;
  width: 36px;
  overflow: hidden;
  align-self: center;
}

.div-36 {
  color: #000;
  text-align: center;
  margin-top: 4px;
  font: 600 8px/127% Open Sans, -apple-system, Roboto, Helvetica,
    sans-serif;
}
