<!-- <div class="container-fluid d-flex justify-content-center align-items-center bg-light-primary">
  <div class="position-relative row w-100 h-100 bg-gredient justify-content-center">
    <div class="col-lg-4 d-flex align-items-center">
      <div class="card w-100">
        <div class="p-3">
          <div class="text-center">
           <a [routerLink]="['/dashboard']">
  <img src="/src/app/logo.png" alt="logo" />
</a>

          </div>

          <div class="row mt-3">
            <div class="col-12 col-sm-6">
              <button class="btn btn-outline-primary w-100">
                <div class="d-flex align-items-center">
                  <img src="" alt="" width="16" class="mr-2" />
                  Sign in with Google
                </div>
              </button>
            </div>
            <div class="col-12 col-sm-6">
              <button class="btn btn-outline-primary w-100 d-flex align-items-center">
                <div class="d-flex align-items-center">
                  <img src="" alt="" width="40" class="mr-2" />
                  Sign in with FB
                </div>
              </button>
            </div>
          </div> -->

          <!-- <div class="or-border mt-4">or sign in with</div>

          <form class="mt-4">
            <label class="form-label f-s-14 f-w-600 mb-2 d-block">Username</label>
            <div class="mb-3">
              <input type="text" class="form-control" />
            </div>
            <label class="form-label f-s-14 f-w-600 mb-2 d-block">Password</label>
            <div class="mb-3">
              <input type="password" class="form-control" />
            </div>

            <div class="d-flex align-items-center mb-2">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="rememberDevice" />
                <label class="form-check-label" for="rememberDevice">Remember this Device</label>
              </div>
              <a [routerLink]="['/']" class="text-primary f-w-600 text-decoration-none ms-auto f-s-14">
                Forgot Password ?
              </a>
            </div>
            <button [routerLink]="['/']" class="btn btn-primary w-100">Sign In</button>
          </form>
          <span class="d-block f-w-500 text-center mt-4">
            New to Modernize?
            <a [routerLink]="['/authentication/register']" class="text-decoration-none text-primary f-w-500 f-s-14">
              Create an account
            </a>
          </span>
        </div>
      </div>
    </div>
  </div>
</div> -->




<div class="div">
      <div class="div-2">
        <div class="div-3">
          <div class="div-4">CAR RENTAL</div>
          <div class="div-5">
            <div class="div-6">
              <div class="div-7">Home</div>
              <div class="div-8">
                <div class="div-9">Inventory</div>
                <div class="div-10"></div>
              </div>
              <div class="div-11">
                <div class="div-12">Blog</div>
                <div class="div-13"></div>
              </div>
              <div class="div-14">About</div>
              <div class="div-15">
                <div class="div-16">Pages</div>
                <div class="div-17"></div>
              </div>
              <div class="div-18">Contact</div>
            </div>
            <div class="div-19">Booking Now</div>
          </div>
        </div>
      </div>
      <div class="div-20">
        <div class="div-21">
          <img
            loading="lazy"
            srcset="..."
            class="img"
          />
          <div class="div-22">
            <div class="div-23">
              <div class="column">
                <div class="div-24">
                  <div class="div-25">
                    <span style="font-size: 56px">Find the perfect car to</span>
                    <br />
                    <span style="font-size: 56px">
                      upgrade your vacation plans
                    </span>
                    .
                  </div>
                  <div class="div-26">
                    Skip the rental car counter and find the perfect car to
                    complement your vacation vibe.Get your fill of
                    high-performance thrills, with the richest selection of
                    luxury and exotic
                    <br />
                    vehicles anywhere
                  </div>
                  <div class="div-27">BROWSE CAR</div>
                </div>
              </div>
              <div class="column-2">
                <div class="div-28">
                  <div class="div-29">Search for Rental Cars</div>
                  <div class="div-30">
                    <div class="div-31">
                      <img
                        loading="lazy"
                        srcset="..."
                        class="img-2"
                      />
                      <div class="div-32">SMALL</div>
                    </div>
                    <div class="div-33">
                      <img
                        loading="lazy"
                        src="https://cdn.builder.io/api/v1/image/assets/TEMP/f364af6dc2dd35fc17725c4b475aa3f395595b39da0e5dcda3c653506fd1c151?"
                        class="img-3"
                      />
                      <div class="div-34">VAN</div>
                    </div>
                    <div class="div-35">
                      <img
                        loading="lazy"
                        src="https://cdn.builder.io/api/v1/image/assets/TEMP/d639b98adb94b19d08f2112747ae9622a54acbd3ce338fe1e48ceddcd15538f1?"
                        class="img-4"
                      />
                      <div class="div-36">SUV</div>
                    </div>
                    <div class="div-37">
                      <img
                        loading="lazy"
                        srcset="..."
                        class="img-5"
                      />
                      <div class="div-38">MEDIUM</div>
                    </div>
                    <div class="div-39">
                      <img
                        loading="lazy"
                        src="https://cdn.builder.io/api/v1/image/assets/TEMP/e36cd13bc86e79db3b9f7c6df3d275390595ee757b5e657d906ed6523367524a?"
                        class="img-6"
                      />
                      <div class="div-40">LUXURY</div>
                    </div>
                  </div>
                  <div class="div-41">Pick Up</div>
                  <div class="div-42">city, distirct or specific airpot</div>
                  <div class="div-43">
                    <div class="div-44">
                      <div class="div-45">Pick Up Date/Time</div>
                      <div class="div-46">
                        <div class="div-47">mm/dd/yy</div>
                        <div class="div-48"></div>
                      </div>
                    </div>
                    <div class="div-49">
                      <div class="div-50">
                        <div class="div-51">Anytime</div>
                        <div class="div-52"></div>
                      </div>
                    </div>
                  </div>
                  <div class="div-53">Drop Off</div>
                  <div class="div-54">city, distirct or specific airpot</div>
                  <div class="div-55">
                    <div class="div-56">
                      <div class="div-57">Drop Off Date/Time</div>
                      <div class="div-58">
                        <div class="div-59">mm/dd/yy</div>
                        <div class="div-60"></div>
                      </div>
                    </div>
                    <div class="div-61">
                      <div class="div-62">
                        <div class="div-63">Adults</div>
                        <div class="div-64">
                          <div class="div-65">01</div>
                          <div class="div-66"></div>
                        </div>
                      </div>
                      <div class="div-67">
                        <div class="div-68">Kids</div>
                        <div class="div-69">
                          <div class="div-70">01</div>
                          <div class="div-71"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="div-72">Search</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="div-73">
        <div class="div-74">
          <div class="column-3">
            <div class="div-75">
              <div class="div-76">HELPS YOU TO FIND YOUR NEXT CAR EASILY</div>
              <div class="div-77">
                CAR
                <span style="color: rgba(7, 160, 133, 1)">RENTAL</span>
              </div>
              <div class="div-78"></div>
              <div class="div-79">
                Find the perfect car to make errand day easier
                <br />
                Book a roomy truck or SUV to ease your errand day stress, or to
                motivate your moving day..
              </div>
              <div class="div-80">
                Find the perfect car to conquer the great outdoors
                <br />
                Go prepared in a rugged 4x4 to take on winter roads with ease,
                or a camper van to take you to the trees.
              </div>
              <div class="div-81">
                Find the perfect car for scenic corners & curves
                <br />
                Get your fill of high-performance thrills, with the richest
                selection of luxury and exotic vehicles anywhere.
              </div>
              <div class="div-82">Reserve Now</div>
            </div>
          </div>
          <div class="column-4">
            <div class="div-83">
              <div class="div-84">
                <div class="div-85">
                  <div class="column-5">
                    <div class="div-86">
                      <img
                        loading="lazy"
                        srcset="..."
                        class="img"
                      />
                      Luxes
                    </div>
                  </div>
                  <div class="column-6">
                    <div class="div-88">
                      <img
                        loading="lazy"
                        srcset="..."
                        class="img"
                      />
                      SMALL
                    </div>
                  </div>
                </div>
              </div>
              <div class="div-90">
                <div class="div-91">
                  <div class="column-7">
                    <div class="div-92">
                      <img
                        loading="lazy"
                        srcset="..."
                        class="img"
                      />
                      SUV
                    </div>
                  </div>
                  <div class="column-8">
                    <div class="div-94">
                      <img
                        loading="lazy"
                        srcset="..."
                        class="img"
                      />
                      MEDIUM
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="div-96">
        <img
          loading="lazy"
          srcset="..."
          class="img"
        />
        <div class="div-97">Find your drive</div>
        <div class="div-98">Explore the largest car sharing marketplace</div>
        <div class="div-99">
          <div class="div-100"></div>
          <div class="div-101">
            <div class="div-102">
              <img
                loading="lazy"
                srcset="..."
                class="img"
              />
              <div class="div-103">2022</div>
              <div class="div-104">New Arrival</div>
            </div>
            <div class="div-105">
              <div class="div-106">Fiat 500 REVEALED</div>
              <div class="div-107">
                <div class="div-108"></div>
                <div class="div-109">(5.0)</div>
              </div>
            </div>
            <div class="div-110">
              <div class="div-111">
                <img
                  loading="lazy"
                  src="https://cdn.builder.io/api/v1/image/assets/TEMP/aed492798aeb6406bea3a3b414e60fe2ec1b9428405d728e65deed87fdfe927a?"
                  class="img-7"
                />
                <div class="div-112">Auto</div>
              </div>
              <div class="div-113">
                <div class="div-114">
                  <img
                    loading="lazy"
                    src="https://cdn.builder.io/api/v1/image/assets/TEMP/d6dfca682d5696611e3fedcf2afc3676f29e78ca4e6befb6664f9d6c34f19b76?"
                    class="img-8"
                  />
                  <div class="div-115">5 Persons</div>
                </div>
              </div>
              <div class="div-116">
                <img
                  loading="lazy"
                  src="https://cdn.builder.io/api/v1/image/assets/TEMP/1d08d46d23be0e56e3e93444b17e412089813e4a0cf951e198e464efb7198eab?"
                  class="img-9"
                />
                <div class="div-117">Petrol</div>
              </div>
            </div>
            <div class="div-118">
              <div class="div-119">
                <div class="div-120">$20</div>
                <div class="div-121">/ Day</div>
              </div>
              <div class="div-122">Rent Now</div>
            </div>
          </div>
          <div class="div-123">
            <div class="div-124">
              <img
                loading="lazy"
                srcset="..."
                class="img"
              />
              <div class="div-125">2021</div>
              <div class="div-126">New Arrival</div>
            </div>
            <div class="div-127">
              <div class="div-128">Toyota C-HR</div>
              <div class="div-129">
                <div class="div-130"></div>
                <div class="div-131">(5.0)</div>
              </div>
            </div>
            <div class="div-132">
              <div class="div-133">
                <img
                  loading="lazy"
                  src="https://cdn.builder.io/api/v1/image/assets/TEMP/aed492798aeb6406bea3a3b414e60fe2ec1b9428405d728e65deed87fdfe927a?"
                  class="img-10"
                />
                <div class="div-134">Auto</div>
              </div>
              <div class="div-135">
                <div class="div-136">
                  <img
                    loading="lazy"
                    src="https://cdn.builder.io/api/v1/image/assets/TEMP/d6dfca682d5696611e3fedcf2afc3676f29e78ca4e6befb6664f9d6c34f19b76?"
                    class="img-11"
                  />
                  <div class="div-137">5 Persons</div>
                </div>
              </div>
              <div class="div-138">
                <img
                  loading="lazy"
                  src="https://cdn.builder.io/api/v1/image/assets/TEMP/0f1d2561e1b1a8fde2d60e60cd0b7bfa1ff0e19aed562a40c52da1649f04ba21?"
                  class="img-12"
                />
                <div class="div-139">Petrol</div>
              </div>
            </div>
            <div class="div-140">
              <div class="div-141">
                <div class="div-142">$35</div>
                <div class="div-143">/ Day</div>
              </div>
              <div class="div-144">Rent Now</div>
            </div>
          </div>
          <div class="div-145">
            <div class="div-146">
              <img
                loading="lazy"
                srcset="..."
                class="img"
              />
              <div class="div-147">2022</div>
              <div class="div-148">New Arrival</div>
            </div>
            <div class="div-149">
              <div class="div-150">Toyota Camry SE 350</div>
              <div class="div-151">
                <div class="div-152"></div>
                <div class="div-153">(5.0)</div>
              </div>
            </div>
            <div class="div-154">
              <div class="div-155">
                <img
                  loading="lazy"
                  src="https://cdn.builder.io/api/v1/image/assets/TEMP/aed492798aeb6406bea3a3b414e60fe2ec1b9428405d728e65deed87fdfe927a?"
                  class="img-13"
                />
                <div class="div-156">Auto</div>
              </div>
              <div class="div-157">
                <div class="div-158">
                  <img
                    loading="lazy"
                    src="https://cdn.builder.io/api/v1/image/assets/TEMP/d6dfca682d5696611e3fedcf2afc3676f29e78ca4e6befb6664f9d6c34f19b76?"
                    class="img-14"
                  />
                  <div class="div-159">5 Persons</div>
                </div>
              </div>
              <div class="div-160">
                <img
                  loading="lazy"
                  src="https://cdn.builder.io/api/v1/image/assets/TEMP/2f2584ce24bb6c8ae48e2fd0f7921c9dcfb6913b8303c037afcb75de60692a66?"
                  class="img-15"
                />
                <div class="div-161">Petrol</div>
              </div>
            </div>
            <div class="div-162">
              <div class="div-163">
                <div class="div-164">$50</div>
                <div class="div-165">/ Day</div>
              </div>
              <div class="div-166">Rent Now</div>
            </div>
          </div>
          <div class="div-167">
            <div class="div-168">
              <img
                loading="lazy"
                srcset="..."
                class="img"
              />
              <div class="div-169">2022</div>
              <div class="div-170">New Arrival</div>
              <div class="div-171"></div>
            </div>
            <div class="div-172">
              <div class="div-173">Toyota Camry SE 350</div>
              <div class="div-174">
                <div class="div-175"></div>
                <div class="div-176">(5.0)</div>
              </div>
            </div>
            <div class="div-177">
              <div class="div-178">
                <img
                  loading="lazy"
                  src="https://cdn.builder.io/api/v1/image/assets/TEMP/aed492798aeb6406bea3a3b414e60fe2ec1b9428405d728e65deed87fdfe927a?"
                  class="img-16"
                />
                <div class="div-179">Auto</div>
              </div>
              <div class="div-180">
                <div class="div-181">
                  <img
                    loading="lazy"
                    src="https://cdn.builder.io/api/v1/image/assets/TEMP/d6dfca682d5696611e3fedcf2afc3676f29e78ca4e6befb6664f9d6c34f19b76?"
                    class="img-17"
                  />
                  <div class="div-182">5 Persons</div>
                </div>
              </div>
              <div class="div-183">
                <img
                  loading="lazy"
                  src="https://cdn.builder.io/api/v1/image/assets/TEMP/24a7ae6a4339f5dc6eb64cd553d5dd55693702eb192abf9152b52c301e1f9cea?"
                  class="img-18"
                />
                <div class="div-184">Petrol</div>
              </div>
            </div>
            <div class="div-185">
              <div class="div-186">
                <div class="div-187">$50</div>
                <div class="div-188">/ Day</div>
              </div>
              <div class="div-189">Rent Now</div>
            </div>
          </div>
        </div>
        <div class="div-190">
          <div class="div-191"></div>
          <div class="div-192"></div>
          <div class="div-193"></div>
        </div>
      </div>
      <div class="div-194">
        <div class="div-195">
          <div class="div-196">
            <span style="text-transform: uppercase; color: rgba(0, 0, 0, 1)">
              L
            </span>
            orem
            <span style="text-transform: uppercase; color: rgba(0, 0, 0, 1)">
              I
            </span>
            psum is
            <span style="text-transform: uppercase; color: rgba(0, 0, 0, 1)">
              s
            </span>
            imply
            <span style="text-transform: uppercase; color: rgba(0, 0, 0, 1)">
              d
            </span>
            ummy
            <span style="text-transform: uppercase; color: rgba(0, 0, 0, 1)">
              t
            </span>
            ext
          </div>
          <div class="div-197">
            Lorem Ipsum is
            <span style="color: rgba(7, 160, 133, 1)">simply dummy text</span>
          </div>
          <div class="div-198">
            <div class="div-199">
              <div class="div-200">
                <div class="div-201">Show All</div>
                <img
                  loading="lazy"
                  src="https://cdn.builder.io/api/v1/image/assets/TEMP/9c03aea02cb13241e25d17e8340de5bc386a260ede40209d7e0a153eb41509d6?"
                  class="img-19"
                />
              </div>
              <div class="div-202">Brakes</div>
              <div class="div-203">Suspension</div>
              <div class="div-204">Wheels</div>
              <div class="div-205">Steering</div>
            </div>
          </div>
          <div class="div-206">
            <div class="div-207">
              <div class="div-208">
                <div class="column-9">
                  <div class="div-209">
                    <div class="div-210">
                      <img
                        loading="lazy"
                        srcset="..."
                        class="img"
                      />
                      <div class="div-211">2022</div>
                      <div class="div-212">New Arrival</div>
                    </div>
                    <div class="div-213">
                      <div class="div-214">Toyota Camry SE 350</div>
                      <div class="div-215">
                        <div class="div-216"></div>
                        <div class="div-217">(5.0)</div>
                      </div>
                    </div>
                    <div class="div-218">
                      <div class="div-219">
                        <img
                          loading="lazy"
                          src="https://cdn.builder.io/api/v1/image/assets/TEMP/9015664d00d2971864670a30010e69144f4c7f20cb2ccef8155db143d4192746?"
                          class="img-20"
                        />
                        <div class="div-220">Auto</div>
                      </div>
                      <div class="div-221">
                        <div class="div-222">
                          <img
                            loading="lazy"
                            src="https://cdn.builder.io/api/v1/image/assets/TEMP/8bf8d3063a09a469b31e71b1b455bf9763666a701bbeae39a97d8ae4c0ff7706?"
                            class="img-21"
                          />
                          <div class="div-223">5 Persons</div>
                        </div>
                      </div>
                      <div class="div-224">
                        <img
                          loading="lazy"
                          src="https://cdn.builder.io/api/v1/image/assets/TEMP/f5b184259140f00dad20ee01af987cae50f38572ad72d207dc7ca03ad1d6cc0f?"
                          class="img-22"
                        />
                        <div class="div-225">Petrol</div>
                      </div>
                    </div>
                    <div class="div-226">
                      <div class="div-227">
                        <div class="div-228">$50</div>
                        <div class="div-229">/ Day</div>
                      </div>
                      <div class="div-230">Rent Now</div>
                    </div>
                  </div>
                </div>
                <div class="column-10">
                  <div class="div-231">
                    <div class="div-232">
                      <img
                        loading="lazy"
                        srcset="..."
                        class="img"
                      />
                      <div class="div-233">2022</div>
                      <div class="div-234">New Arrival</div>
                    </div>
                    <div class="div-235">
                      <div class="div-236">Toyota Camry SE 350</div>
                      <div class="div-237">
                        <div class="div-238"></div>
                        <div class="div-239">(5.0)</div>
                      </div>
                    </div>
                    <div class="div-240">
                      <div class="div-241">
                        <img
                          loading="lazy"
                          src="https://cdn.builder.io/api/v1/image/assets/TEMP/9015664d00d2971864670a30010e69144f4c7f20cb2ccef8155db143d4192746?"
                          class="img-23"
                        />
                        <div class="div-242">Auto</div>
                      </div>
                      <div class="div-243">
                        <div class="div-244">
                          <img
                            loading="lazy"
                            src="https://cdn.builder.io/api/v1/image/assets/TEMP/8bf8d3063a09a469b31e71b1b455bf9763666a701bbeae39a97d8ae4c0ff7706?"
                            class="img-24"
                          />
                          <div class="div-245">5 Persons</div>
                        </div>
                      </div>
                      <div class="div-246">
                        <img
                          loading="lazy"
                          src="https://cdn.builder.io/api/v1/image/assets/TEMP/3fa9a3f39ab107abb8a5a6921d3038eef46877e7c17d61ace874aebc991f9c1b?"
                          class="img-25"
                        />
                        <div class="div-247">Petrol</div>
                      </div>
                    </div>
                    <div class="div-248">
                      <div class="div-249">
                        <div class="div-250">$50</div>
                        <div class="div-251">/ Day</div>
                      </div>
                      <div class="div-252">Rent Now</div>
                    </div>
                  </div>
                </div>
                <div class="column-11">
                  <div class="div-253">
                    <div class="div-254">
                      <img
                        loading="lazy"
                        srcset="..."
                        class="img"
                      />
                      <div class="div-255">2022</div>
                      <div class="div-256">New Arrival</div>
                    </div>
                    <div class="div-257">
                      <div class="div-258">Toyota Camry SE 350</div>
                      <div class="div-259">
                        <div class="div-260"></div>
                        <div class="div-261">(5.0)</div>
                      </div>
                    </div>
                    <div class="div-262">
                      <div class="div-263">
                        <img
                          loading="lazy"
                          src="https://cdn.builder.io/api/v1/image/assets/TEMP/9015664d00d2971864670a30010e69144f4c7f20cb2ccef8155db143d4192746?"
                          class="img-26"
                        />
                        <div class="div-264">Auto</div>
                      </div>
                      <div class="div-265">
                        <div class="div-266">
                          <img
                            loading="lazy"
                            src="https://cdn.builder.io/api/v1/image/assets/TEMP/8bf8d3063a09a469b31e71b1b455bf9763666a701bbeae39a97d8ae4c0ff7706?"
                            class="img-27"
                          />
                          <div class="div-267">5 Persons</div>
                        </div>
                      </div>
                      <div class="div-268">
                        <img
                          loading="lazy"
                          src="https://cdn.builder.io/api/v1/image/assets/TEMP/51628f7b0a99e13fb5b638a0b237467498ddb9dd3f3a53b58ea7441f4a27efa1?"
                          class="img-28"
                        />
                        <div class="div-269">Petrol</div>
                      </div>
                    </div>
                    <div class="div-270">
                      <div class="div-271">
                        <div class="div-272">$50</div>
                        <div class="div-273">/ Day</div>
                      </div>
                      <div class="div-274">Rent Now</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="div-275">
              <div class="div-276">
                <div class="column-12">
                  <div class="div-277">
                    <div class="div-278">
                      <img
                        loading="lazy"
                        srcset="..."
                        class="img"
                      />
                      <div class="div-279">2022</div>
                      <div class="div-280">New Arrival</div>
                    </div>
                    <div class="div-281">
                      <div class="div-282">Toyota Camry SE 350</div>
                      <div class="div-283">
                        <div class="div-284"></div>
                        <div class="div-285">(5.0)</div>
                      </div>
                    </div>
                    <div class="div-286">
                      <div class="div-287">
                        <img
                          loading="lazy"
                          src="https://cdn.builder.io/api/v1/image/assets/TEMP/6fc50e64595266ba263f74e688a89a7f9578dc6195984ae90fb490e77fa68a8c?"
                          class="img-29"
                        />
                        <div class="div-288">Auto</div>
                      </div>
                      <div class="div-289">
                        <div class="div-290">
                          <img
                            loading="lazy"
                            src="https://cdn.builder.io/api/v1/image/assets/TEMP/1e65bcaffada84e5104796ae37122a6c52d4fbf62edc60d674d5793167720671?"
                            class="img-30"
                          />
                          <div class="div-291">5 Persons</div>
                        </div>
                      </div>
                      <div class="div-292">
                        <img
                          loading="lazy"
                          src="https://cdn.builder.io/api/v1/image/assets/TEMP/f24d17c946cae2f3e4248ded7a056a862d2834048c3e3bb9aae4a959a30ace54?"
                          class="img-31"
                        />
                        <div class="div-293">Petrol</div>
                      </div>
                    </div>
                    <div class="div-294">
                      <div class="div-295">
                        <div class="div-296">$50</div>
                        <div class="div-297">/ Day</div>
                      </div>
                      <div class="div-298">Rent Now</div>
                    </div>
                  </div>
                </div>
                <div class="column-13">
                  <div class="div-299">
                    <div class="div-300">
                      <img
                        loading="lazy"
                        srcset="..."
                        class="img"
                      />
                      <div class="div-301">2022</div>
                      <div class="div-302">New Arrival</div>
                    </div>
                    <div class="div-303">
                      <div class="div-304">Toyota Camry SE 350</div>
                      <div class="div-305">
                        <div class="div-306"></div>
                        <div class="div-307">(5.0)</div>
                      </div>
                    </div>
                    <div class="div-308">
                      <div class="div-309">
                        <img
                          loading="lazy"
                          src="https://cdn.builder.io/api/v1/image/assets/TEMP/6fc50e64595266ba263f74e688a89a7f9578dc6195984ae90fb490e77fa68a8c?"
                          class="img-32"
                        />
                        <div class="div-310">Auto</div>
                      </div>
                      <div class="div-311">
                        <div class="div-312">
                          <img
                            loading="lazy"
                            src="https://cdn.builder.io/api/v1/image/assets/TEMP/1e65bcaffada84e5104796ae37122a6c52d4fbf62edc60d674d5793167720671?"
                            class="img-33"
                          />
                          <div class="div-313">5 Persons</div>
                        </div>
                      </div>
                      <div class="div-314">
                        <img
                          loading="lazy"
                          src="https://cdn.builder.io/api/v1/image/assets/TEMP/ee1f74994ceb40e1e43141960678700da823b7e640cfb92fccbc4ec517c79218?"
                          class="img-34"
                        />
                        <div class="div-315">Petrol</div>
                      </div>
                    </div>
                    <div class="div-316">
                      <div class="div-317">
                        <div class="div-318">$50</div>
                        <div class="div-319">/ Day</div>
                      </div>
                      <div class="div-320">Rent Now</div>
                    </div>
                  </div>
                </div>
                <div class="column-14">
                  <div class="div-321">
                    <div class="div-322">
                      <img
                        loading="lazy"
                        srcset="..."
                        class="img"
                      />
                      <div class="div-323">2022</div>
                      <div class="div-324">New Arrival</div>
                    </div>
                    <div class="div-325">
                      <div class="div-326">Toyota Camry SE 350</div>
                      <div class="div-327">
                        <div class="div-328"></div>
                        <div class="div-329">(5.0)</div>
                      </div>
                    </div>
                    <div class="div-330">
                      <div class="div-331">
                        <img
                          loading="lazy"
                          src="https://cdn.builder.io/api/v1/image/assets/TEMP/6fc50e64595266ba263f74e688a89a7f9578dc6195984ae90fb490e77fa68a8c?"
                          class="img-35"
                        />
                        <div class="div-332">Auto</div>
                      </div>
                      <div class="div-333">
                        <div class="div-334">
                          <img
                            loading="lazy"
                            src="https://cdn.builder.io/api/v1/image/assets/TEMP/1e65bcaffada84e5104796ae37122a6c52d4fbf62edc60d674d5793167720671?"
                            class="img-36"
                          />
                          <div class="div-335">5 Persons</div>
                        </div>
                      </div>
                      <div class="div-336">
                        <img
                          loading="lazy"
                          src="https://cdn.builder.io/api/v1/image/assets/TEMP/a87000c518154c3165d8c64e5f856083b5749d9eef28c7f0537dd93004d571ac?"
                          class="img-37"
                        />
                        <div class="div-337">Petrol</div>
                      </div>
                    </div>
                    <div class="div-338">
                      <div class="div-339">
                        <div class="div-340">$50</div>
                        <div class="div-341">/ Day</div>
                      </div>
                      <div class="div-342">Rent Now</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="div-343">
        <div class="div-344">
          <div class="column-15">
            <div class="div-345">
              <img
                loading="lazy"
                srcset="..."
                class="img"
              />
              <div class="div-346">
                <div class="div-347">Emrin e kompanis</div>
                <div class="div-348">
                  Why
                  <span style="color: rgba(255, 255, 255, 1)">Choose Us</span>
                </div>
                <div class="div-349"></div>
                <div class="div-350">
                  We provide daily, weekly, and monthly services based onthe
                  requirements of our
                  <br />
                  customers, who can choose from a wide variety of payment
                  options for smooth
                  <br />
                  transactions.The round-the-clock technical and logistical
                  support allows us to
                  <br />
                  provide customer satisfaction like no one else in the market.
                  Our team is driven
                  <br />
                  by passionate individuals who have achievedexemplary success
                  in their
                  <br />
                  respective domains and are now committedto delivering quality
                  services in the
                  <br />
                  market.
                </div>
                <img
                  loading="lazy"
                  srcset="..."
                  class="img-38"
                />
              </div>
            </div>
          </div>
          <div class="column-16">
            <div class="div-351">
              <div class="div-352">
                <div class="div-353">
                  <div class="column-17">
                    <div class="div-354">
                      <img
                        loading="lazy"
                        src="https://cdn.builder.io/api/v1/image/assets/TEMP/6c55d9af7f6fa8ec7fe1329ebc2ff2219025fa1928d4296214c5f3310c283546?"
                        class="img-39"
                      />
                      <div class="div-355">Personalized Service</div>
                      <div class="div-356">
                        Lorem Ipsum is simply dummy text
                        <br />
                        of the printing and typesetting industry.
                      </div>
                    </div>
                  </div>
                  <div class="column-18">
                    <div class="div-357">
                      <img
                        loading="lazy"
                        src="https://cdn.builder.io/api/v1/image/assets/TEMP/9ba957a10b06b714ea8127e7d6f274bd265dedff7ffc252fbe8a84af8af0f0fd?"
                        class="img-40"
                      />
                      <div class="div-358">24/7 Support</div>
                      <div class="div-359">
                        Lorem Ipsum is simply dummy text
                        <br />
                        of the printing and typesetting industry.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="div-360">
                <div class="div-361">
                  <div class="column-19">
                    <div class="div-362">
                      <img
                        loading="lazy"
                        src="https://cdn.builder.io/api/v1/image/assets/TEMP/e1b18cde9ad2738f783bc884dee5f7babae3e11be67cbc4b95a741ea691779d5?"
                        class="img-41"
                      />
                      <div class="div-363">Best Price</div>
                      <div class="div-364">
                        Lorem Ipsum is simply dummy text
                        <br />
                        of the printing and typesetting industry.
                      </div>
                    </div>
                  </div>
                  <div class="column-20">
                    <div class="div-365">
                      <img
                        loading="lazy"
                        src="https://cdn.builder.io/api/v1/image/assets/TEMP/fbe15587a79c4af20f9282ab857ee4c1d24b1744aa497e73967277be72126d4f?"
                        class="img-42"
                      />
                      <div class="div-366">Trusted Company</div>
                      <div class="div-367">
                        Lorem Ipsum is simply dummy text
                        <br />
                        of the printing and typesetting industry.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="div-368">
        <div class="div-369">
          <img
            loading="lazy"
            srcset="..."
            class="img-43"
          />
          <img
            loading="lazy"
            srcset="..."
            class="img-44"
          />
          <img
            loading="lazy"
            srcset="..."
            class="img-45"
          />
          <img
            loading="lazy"
            srcset="..."
            class="img-46"
          />
          <img
            loading="lazy"
            srcset="..."
            class="img-47"
          />
          <img
            loading="lazy"
            srcset="..."
            class="img-48"
          />
        </div>
      </div>
      <div class="div-370">
        <div class="div-371"></div>
        <div class="div-372"></div>
        <div class="div-373"></div>
      </div>
      <div class="div-374">
        <div class="div-375">
          <div class="div-376">
            <span style="text-transform: uppercase; color: rgba(0, 0, 0, 1)">
              L
            </span>
            orem
            <span style="text-transform: uppercase; color: rgba(0, 0, 0, 1)">
              I
            </span>
            psum is
            <span style="text-transform: uppercase; color: rgba(0, 0, 0, 1)">
              s
            </span>
            imply
            <span style="text-transform: uppercase; color: rgba(0, 0, 0, 1)">
              d
            </span>
            ummy
            <span style="text-transform: uppercase; color: rgba(0, 0, 0, 1)">
              t
            </span>
            ext
          </div>
          <div class="div-377">
            oUR
            <span style="color: rgba(7, 160, 133, 1)">blog</span>
          </div>
          <div class="div-378">
            <div class="div-379">
              <div class="column-21">
                <div class="div-380">
                  <img
                    loading="lazy"
                    srcset="..."
                    class="img-49"
                  />
                  <div class="div-381">
                    <div class="div-382">12 July, 2018</div>
                    <div class="div-383">
                      <div class="div-384">
                        <div class="div-385"></div>
                        <div class="div-386">3</div>
                      </div>
                      <div class="div-387">
                        <div class="div-388"></div>
                        <div class="div-389">43</div>
                      </div>
                    </div>
                  </div>
                  <div class="div-390">
                    Lorem ipsum dolor sit amet
                    <br />
                    consepctetur
                  </div>
                  <div class="div-391">
                    Lorem ipsum dolor sit amet consepctetur
                    <br />
                    adipiscing elit Etiam at ipsum at ligula
                    <br />
                    vestibulum sodales Sed luctus.
                  </div>
                  <div class="div-392">
                    <div class="div-393">Read More</div>
                    <div class="div-394"></div>
                  </div>
                </div>
              </div>
              <div class="column-22">
                <div class="div-395">
                  <img
                    loading="lazy"
                    srcset="..."
                    class="img-50"
                  />
                  <div class="div-396">
                    <div class="div-397">12 July, 2018</div>
                    <div class="div-398">
                      <div class="div-399">
                        <div class="div-400"></div>
                        <div class="div-401">3</div>
                      </div>
                      <div class="div-402">
                        <div class="div-403"></div>
                        <div class="div-404">43</div>
                      </div>
                    </div>
                  </div>
                  <div class="div-405">
                    Lorem ipsum dolor sit amet
                    <br />
                    consepctetur
                  </div>
                  <div class="div-406">
                    Lorem ipsum dolor sit amet consepctetur
                    <br />
                    adipiscing elit Etiam at ipsum at ligula
                    <br />
                    vestibulum sodales Sed luctus.
                  </div>
                  <div class="div-407">
                    <div class="div-408">Read More</div>
                    <div class="div-409"></div>
                  </div>
                </div>
              </div>
              <div class="column-23">
                <div class="div-410">
                  <img
                    loading="lazy"
                    srcset="..."
                    class="img-51"
                  />
                  <div class="div-411">
                    <div class="div-412">12 July, 2018</div>
                    <div class="div-413">
                      <div class="div-414">
                        <div class="div-415"></div>
                        <div class="div-416">3</div>
                      </div>
                      <div class="div-417">
                        <div class="div-418"></div>
                        <div class="div-419">43</div>
                      </div>
                    </div>
                  </div>
                  <div class="div-420">
                    Lorem ipsum dolor sit amet
                    <br />
                    consepctetur
                  </div>
                  <div class="div-421">
                    Lorem ipsum dolor sit amet consepctetur
                    <br />
                    adipiscing elit Etiam at ipsum at ligula
                    <br />
                    vestibulum sodales Sed luctus.
                  </div>
                  <div class="div-422">
                    <div class="div-423">Read More</div>
                    <div class="div-424"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="div-425">
        <div class="div-426">
          <div class="div-427">
            <div class="column-24">
              <div class="div-428">
                <div class="div-429">About Us</div>
                <div class="div-430"></div>
                <div class="div-431">
                  Lorem ipsum dolor sit amet, consectetur adipiscing
                  <br />
                  elit, sed do eiusmod tempor incididunt.Lorem ipsum
                  <br />
                  dolor sit amet, consectetur adipiscing elit, sed do
                  <br />
                  eiusmod tempor incididunt.Lorem ipsum dolor sit
                  <br />
                  amet...
                </div>
              </div>
            </div>
            <div class="column-25">
              <div class="div-432">
                <div class="div-433">About Us</div>
                <div class="div-434"></div>
                <div class="div-435">
                  <div class="div-436"></div>
                  <div class="div-437">1-567-124-44227</div>
                </div>
                <div class="div-438">
                  <div class="div-439"></div>
                  <div class="div-440">182 main street pert habour 8007</div>
                </div>
                <div class="div-441">
                  <div class="div-442"></div>
                  <div class="div-443">Mon-sat 8:00-18:00 Sunday Closed</div>
                </div>
                <div class="div-444">
                  <div class="div-445"></div>
                  <div class="div-446"></div>
                  <div class="div-447"></div>
                  <div class="div-448"></div>
                </div>
              </div>
            </div>
            <div class="column-26">
              <div class="div-449">
                <div class="div-450">Newsletter</div>
                <div class="div-451"></div>
                <div class="div-452">
                  Lorem ipsum dolor sit amet, consectetur adipiscing
                  <br />
                  elit, sed do eiusmod tempor incididunt.
                </div>
                <div class="div-453">Email I'd</div>
                <div class="div-454">Subscribe</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="div-455">
        © Rumble - 2020 | All Right Reserved. Designed By codezion
      </div>
    </div>